@font-face {
    font-family: "Computer Modern";
    src: url('cmunrm.otf')
}
body {
    font-family: 'Computer Modern';
    font-size: 14pt;
    margin: 0px;
    overflow: hidden;
    background-color: #f5f5f5;

}

#info {
    font-size: 14pt;
    width:100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.label {
    font-size: 24pt;
}

.clickThrough {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}

.coordinateBox {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px 10px;
}