html,body {
  margin: 0;
  background-color: black;
  color: white;
  font-size: 14pt;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.container {
  padding: 20px;
  /* width: 100%;
  height: 100%; */
  /* display: flex;
  flex-direction: column; */
}

.letterRow {
  display: flex;
}

.letter {
  overflow-x: hidden;
}

.letter > span, #kerningCalculator {
  font-size: 48pt;
  position: relative;
  transition: left 1s steps(24);
}

#kerningCalculator {
  position: absolute;
  visibility: hidden;
}

header {
  padding-bottom: 1em;
}

.projectsList li {
  list-style: none;
  margin-left: 20px;
  padding-bottom: 1em;
}

a {
  direction:ltr;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #a7a7a7;
}

a:hover {
  letter-spacing: 0.1rem;
  color: white;
}